fastapi
uvicorn[standard]
pydantic
requests
beautifulsoup4
pillow
apscheduler
python-dotenv
playwright
sqlalchemy
lxml
# Auth & DB
google-auth
google-auth-httplib2
python-jose[cryptography]
psycopg2-binary
cloud-sql-python-connector[pg8000]
pg8000
